.home-content-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1024px) {
  .left-layout {
    display: none;
  }
}

.left-layout {
  position: fixed;
  left: 0;
  width: 360px !important;
  padding: 20px;

  & nz-sider {
    border-radius: 6px;

    & ul {
      border-radius: 10px;
      font-size: 16px;
      font-weight: 500;
    }
  }
}

.inner-layout {
  padding: 20px 24px;
  margin: 0 360px;
  min-height: 100%;

  & nz-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }
}

.right-layout {
  position: fixed;
  right: 0;
  width: 360px !important;
  padding: 0 20px;
  height: calc(100% - 64px);
}

.right-sider-scroll {
  height: 100%;
  overflow-y: auto;

  & .right-sider {
    padding: 20px 0;
  }

  & {
    -ms-overflow-style: none;
    /* IE/Edge legacy */
  }

  &::-webkit-scrollbar {
    width: 0;
    /* Chiều rộng thanh cuộn dọc */
    height: 0;
  }

  &:hover::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /* 2. Tạo nền (rãnh) cho thanh cuộn */
  &:hover::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Màu nền rãnh */
    border-radius: 10px;
  }

  /* 3. Tùy chỉnh con trỏ cuộn (thumb) */
  &:hover::-webkit-scrollbar-thumb {
    background: #9e9e9e;
    /* Màu con trỏ */
    border-radius: 10px;
    /* Bo góc */
  }

  /* 4. Thay đổi màu khi di chuột qua con trỏ */
  &:hover::-webkit-scrollbar-thumb:hover {
    background: #7a7a7a;
  }
}