<nz-layout class="page-wrapper">
  <nz-header>
    <div class="logo" routerLink="/">
      <nz-icon nzType="global" nzTheme="outline" />
      <span class="ms-2">LogLog</span>
    </div>

    <nz-input-group [nzAddOnAfter]="suffixIconSearch" nzSize="large" class="input-search">
      <input type="text" nz-input placeholder="Tìm kiếm trên LogLog" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <nz-icon nzType="search" />
    </ng-template>

    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu" [nzSelectable]="false">
      <li nz-menu-item routerLink="/chat">
        <nz-badge [nzCount]="messageCount" [nzOverflowCount]="99" nzSize="small" nzColor="blue">
          <nz-icon nzType="message" nzTheme="outline" />
        </nz-badge>
      </li>
      <li nz-menu-item routerLink="">
        <nz-badge [nzCount]="notificationCount" [nzOverflowCount]="99" nzSize="small" nzColor="blue">
          <nz-icon nzType="bell" nzTheme="outline" />
        </nz-badge>
      </li>
      <li nz-menu-item nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click">
        <img src="assets/images/avatar.png" alt="avatar"
        style="object-fit: cover; width: 36px; height: 36px; border-radius: 50px;" />
      </li>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>Thông tin cá nhân</li>
          <li nz-menu-item>Đổi mật khẩu</li>
          <li nz-menu-item>Cài đặt</li>
          <li nz-menu-divider></li>
          <li nz-menu-item (click)="logout()">Đăng xuất</li>
        </ul>
      </nz-dropdown-menu>
    </ul>
  </nz-header>

  <nz-layout class="main-container">
    <router-outlet></router-outlet>
  </nz-layout>

</nz-layout>