.page-wrapper {
  min-height: 100%;
}

nz-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  width: 100%;
  box-shadow: 0 2px 4px #808080;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  float: left;
  cursor: pointer;
}

.header-menu {
  line-height: 64px;

  & nz-icon {
    color: #fff;
    font-size: 24px !important;
    font-weight: bold;
  }
}

.input-search {
  width: 360px;
}

.main-container {
  margin-top: 64px;
  min-height: 100%;
}

.avatar-preview {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background: #f5f5f5;
  position: relative;

  .image-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: transform 0.1s ease;
    }
  }
}