<div class="chat-container">
  <nz-splitter>
    <nz-splitter-panel nzDefaultSize="22%" nzMin="16%" nzMax="28%">
      <div class="box chat-left-layout">
        <div class="p-3 w-100">
          <input nz-input placeholder="Search" nzSize="large" />
        </div>
        <div class="chat-contacts-list"></div>
        @for (contact of listContact; track contact) {
        <div class="chat-contact-item d-flex align-items-center p-2 gap-3" (click)="onSelectContact(contact)">
          <img src="assets/images/avatar.png" alt="avatar"
            style="object-fit: cover; width: 36px; height: 36px; border-radius: 50px;" />
          <div>
            <h6>{{contact.userFullname}}</h6>
            <div>Tin nhắn mới</div>
          </div>
        </div>
        }
      </div>
    </nz-splitter-panel>
    <nz-splitter-panel>
      <div class="box chat-inner-layout">
        @if(selectedContact) {
        <div class="chat-inner-header">
          <div class="d-flex align-items-center gap-3">
            <img src="assets/images/avatar.png" alt="avatar"
              style="object-fit: cover; width: 36px; height: 36px; border-radius: 50px;" />
            <div>
              <h5>{{ selectedContact?.userFullname }}</h5>
              <div>Đang hoạt động</div>
            </div>
          </div>
          <div class="chat-header-actions">
            <button nz-button nzType="text" nzShape="circle" nzSize="large" nz-tooltip
              nzTooltipTitle="Bắt đầu gọi thoại" nzTooltipPlacement="bottom">
              <i nz-icon nzType="phone" nzTheme="twotone"></i>
            </button>
            <button nz-button nzType="text" nzShape="circle" nzSize="large" nz-tooltip
              nzTooltipTitle="Bắt đầu gọi video" nzTooltipPlacement="bottom">
              <i nz-icon nzType="video-camera" nzTheme="twotone"></i>
            </button>
            <button nz-button nzType="text" nzShape="circle" nzSize="large" nz-tooltip
              nzTooltipTitle="Thông tin cuộc trò chuyện" nzTooltipPlacement="bottom">
              <i nz-icon nzType="info-circle" nzTheme="twotone"></i>
            </button>
          </div>
        </div>
        <div class="chat-inner-content">
          @for (message of listMsg; track $index) {
          <div class="chat-message clearfix">
            <div class="message-container"
              [ngClass]="userId() === message.senderId ? 'sent-message' : 'received-message'">
              <div class="message-content fs-6">
                {{ message.content }}
              </div>
              <div class="message-timestamp">{{ message.createdAt | date:'EEEE, HH:mm:ss dd/MM/yyyy':'GMT+7' }}</div>
            </div>
          </div>
          }
        </div>
        <div class="chat-inner-footer p-3">
          <nz-input-wrapper>
            <input nz-input placeholder="Type a message" nzSize="large" [(ngModel)]="msg" (keydown.enter)="sendMsg()" />
            <nz-icon nzInputSuffix nzType="smile" />
          </nz-input-wrapper>
          <button nz-button nzType="primary" (click)="sendMsg()">Send</button>
        </div>
        } @else {
        <div class="d-flex justify-content-center align-items-center h-100">
          <h5 class="chat-empty">Chọn một liên hệ để bắt đầu trò chuyện</h5> 
        </div>
        }
      </div>
    </nz-splitter-panel>
    <nz-splitter-panel [nzCollapsible]="true" nzDefaultSize="22%" nzMin="16%" nzMax="28%">
      <div class="box chat-right-layout">
        <emoji-mart [style]="{ width: '100%', height: '100%' }" [showPreview]="false" [emojiSize]="26" [skin]="6"
          (emojiSelect)="addEmoji($event)">
        </emoji-mart>
      </div>
    </nz-splitter-panel>
  </nz-splitter>
</div>