.chat-container {
  display: flex;
  height: calc(100vh - 64px);
}

nz-splitter {
  height: 100%;
}

.box {
  height: 100%;
}

.chat-left-layout {
  background-color: antiquewhite;
}

.chat-contact-item {
  border-bottom: 1px solid #ddd;
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
  }

  &.active {
    background-color: #419fd9;
  }
}

.chat-right-layout {
  background-color: lightblue;
}