.chat-container {
  display: flex;
  height: calc(100vh - 64px);
}

nz-splitter {
  height: 100%;
}

.box {
  height: 100%;
}

.chat-left-layout {
  background-color: antiquewhite;
}

.chat-contact-item {
  border-bottom: 1px solid #ddd;
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
  }

  &.active {
    background-color: #419fd9;
  }
}

.chat-inner-layout {
  background: url('../../../assets/images/bg-message.jpg') center center / cover no-repeat;

  .chat-empty {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
  }
}

.chat-inner-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  backdrop-filter: blur(10px);
}

.chat-header-actions {
  display: flex;
  align-items: center;
  gap: 8px;

  & button {
    &:hover {
      background-color: #f1f1f1;
    }
  }
}

.chat-inner-content {
  overflow-y: auto;
  padding: 20px;
  height: calc(100% - 150px);
}

.chat-message {
  margin-bottom: 15px;
}

.message-container {
  padding: 6px 20px;
  border-radius: 50px;
  max-width: 500px;

  &.sent-message {
    float: right;
    background-color: rgb(222, 233, 255);
  }

  &.received-message {
    float: left;
    background-color: #fff;
  }

  & .message-content {
    font-size: 1em;
    line-height: 1.4;
    text-wrap: wrap;
  }

  & .message-timestamp {
    font-size: 0.8em;
    color: #888;
    text-align: right;
  }
}

.chat-inner-footer {
  display: flex;
  align-items: center;
  backdrop-filter: blur(10px);
}

.chat-right-layout {
  background-color: #f1faff;
}

::ng-deep emoji-mart {
  .emoji-mart-scroll {
    height: calc(100% - 90px) !important;
  }
}

.masonry {
  column-count: 3;
  column-gap: 8px;
  padding: 4px;
}

.masonry img {
  width: 100%;
  margin-bottom: 8px;
  border-radius: 8px;
  break-inside: avoid;
}