.chat-container {
  display: flex;
  height: calc(100vh - 64px);
}

nz-splitter {
  height: 100%;
}

.box {
  height: 100%;
}

.chat-left-layout {
  background-color: antiquewhite;
}

.chat-contact-item {
  border-bottom: 1px solid #ddd;
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
  }

  &.active {
    background-color: #419fd9;
  }
}

.chat-inner-layout {
  background-color: #fff;

  .chat-empty {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
  }
}

.chat-inner-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.chat-header-actions {
  display: flex;
  align-items: center;
  gap: 8px;

  & button {
    &:hover {
      background-color: #f1f1f1;
    }
  }
}

.chat-right-layout {
  background-color: lightblue;
}