@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #C5DDEB;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}

.container {
  margin: 20px auto;
  width: 100%;
  background: #444753;
  border-radius: 5px;
}

ul li {
  list-style: none;
}

.chat {
  width: calc(100% - 10px);
  height: 100%;
  background: #F2F5F8;
  border-radius: 5px;
  color: #434651;
  margin: 10px auto;

  .chat-header {
    padding: 20px;
    border-bottom: 2px solid orange;

    img {
      float: left;
    }

    .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px;
    }

    .chat-with {
      font-weight: bold;
      font-size: 16px;
    }

    .chat-num-messages {
      color: gray;
    }

    .fa-star {
      float: right;
      color: #D8DADF;
      font-size: 20px;
      margin-top: 12px;
    }
  }

  .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid orange;
    overflow-y: scroll;
    height: 340px;

    ul {
      padding: 0;
    }

    .message-data {
      margin-bottom: 15px;
    }

    .message-data-time {
      color: gray;
      padding-left: 6px;
    }

    .message {
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 90%;
      position: relative;

      // &:after {
      //   bottom: 100%;
      //   left: 7%;
      //   border: solid transparent;
      //   content: " ";
      //   height: 0;
      //   width: 0;
      //   position: absolute;
      //   pointer-events: none;
      //   border-bottom-color: green;
      //   border-width: 10px;
      //   margin-left: -10px;
      // }
    }

    .my-message {
      background: blue;
    }

    .other-message {
      background: gray;

      &:after {
        border-bottom-color: blue;
        left: 93%;
      }
    }

  }

  .chat-message {
    padding: 30px;

    textarea {
      width: 100%;
      height: 50px;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;
    }

    .fa-file-o,
    .fa-file-image-o {
      font-size: 16px;
      color: gray;
      cursor: pointer;

    }

    button {
      float: right;
      color: blue;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #F2F5F8;

      &:hover {
        color: blue;
      }
    }
  }
}

.online,
.offline,
.me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: green;
}

.offline {
  color: orange;
}

.me {
  color: blue;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}